In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine("mysql+pymysql://root:123456@localhost/sample_data?charset=utf8mb4")

In [4]:
df=pd.read_html("https://www.w3schools.com/html/html_tables.asp")[0]

In [5]:
sql_df=df.to_sql("w3_school",con=engine)

In [6]:
read=pd.read_sql("w3_school",con=engine)

In [7]:
read

   index                       Company           Contact  Country
0      0           Alfreds Futterkiste      Maria Anders  Germany
1      1    Centro comercial Moctezuma   Francisco Chang   Mexico
2      2                  Ernst Handel     Roland Mendel  Austria
3      3                Island Trading     Helen Bennett       UK
4      4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5      5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy